@import "tailwindcss";

.bg-nude-light {
  background-color: #f7e8da;
}
.bg-nude-dark {
  background-color: #c9a594;
}
.text-brown-dark {
  color: #5d4037;
}
.text-brown-light {
  color: #8d6e63;
}
.bg-brown {
  background-color: #8d6e63;
  color: white;
}
